# Directories  #
################
bin/
gen/

# Compiled files # 
##################
*.pyc
*.apk
*.ap_
*.dex
*.class
R.java

# Local configuration file

# Packages #
############
*.tar 
*.gz
*.zip
*.rar
*.iso
*.dmg

# Eclipse IDE config files #
####################
.project
.pydevproject
.metadata
.settings/
.classpath 
local.properties
.loadpath 

# vim 
*.swp # vim auto save file
# Logs and databases #
######################

# OS generated #
################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
