# Directories  #
################
bin/
gen/

# Compiled files # 
##################
*.pyc
*.apk
*.ap_
*.dex
*.class
R.java

# Local configuration file
local.properties

# Packages #
############
*.tar 
*.gz
*.zip
*.rar
*.iso
*.dmg

# Eclipse IDE config files #
####################
#.project
#.pydevproject
*.swp # vim auto save file
# Logs and databases #
######################

# OS generated #
################
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
