<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fslt.lib"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="14"  /> 
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> 
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    
    <application 
         android:debuggable="true" >
        
    <receiver android:name="DownloadManagerReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
        </intent-filter>
    </receiver>

    <service
        android:name=".UnzipService"
        android:enabled="true"
        android:process=":fslt.lib.file.utilites.UnzipService"
        >
    </service>
    
    <activity
            android:label="EditImageViewActivity"
            android:name="fslt.lib.activities.EditImageViewActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize"
             >
     	</activity>
    

    </application>
    
</manifest>