<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fslt.lib"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="14"  /> 
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application>
        
    <receiver android:name="DownloadManagerReceiver" >
        <intent-filter>
            <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
        </intent-filter>
    </receiver>

    <service
        android:name="UnzipService"
        android:process=":fslt.lib.file.utilites.UnzipService"
        >
    </service>

    </application>
    
</manifest>